* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-weight: 500;
  color: white;
}

/*#0e58ae dark blue
  0e58ae - light blue
*/

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: 10px 0;
  background-color: #111c28;
}

.navigation {
  display: flex;
  margin-top: 18px;
}

.menu_option {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 18px;
}

.logo_link {
  flex-grow: 0.4;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.contacts {
  padding-right: 180px;
}

.application_btn {
  padding: 9px 18px;
  border: none;
  background-color: #0e58ae;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.application_btn:hover {
  background-color: #0056b3;
}

.menu_toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-right: 5%;
}
/*MAIN SECTION **************************************/

.main {
  background-color: #111c28;
  padding-bottom: 100px;
  padding-top: 50px;
}


.main_img {
  max-width: 400px;
  max-height: 550px;
  margin: 50px 65px;
  border-radius: 12px;
}


h1 {
  margin-top: 70px;
  margin-right: 30px;
  font-size: 60px;
  font-family: 'Montserrat';
  font-weight: 500;
}

.main_points {
  display: flex;
  margin-top: 37px;
}

.points_wrapper {
  max-width: 206px;
  text-wrap: wrap;
  margin-right: 8px;
}


.points_wrapper .point_icon {
  width: 35px;
  height: 35px;
}

.point {
  font-size: 16px;
  margin-top: 12px;
}

.main_btn {
  padding: 11px 20px; /* Пример внутренних отступов */
  border: none; /* Убираем границу */
  background-color: #0e58ae; /* Пример цвета фона */
  color: white; /* Цвет текста */
  font-size: 18px; /* Размер шрифта */
  border-radius: 10px; /* Радиус скругления углов */
  cursor: pointer; /* Курсор при наведении */
  margin-left: auto; 
  margin-top: 60px;
}

.main_btn:hover {
  background-color: #0056b3; /* Изменение цвета фона при наведении */
} 


/*NEW SECTION******************************/


.services {
  background-color: #121519;
  padding-top: 100px;
  padding-bottom: 500px;
}

.services_wrapper {
  margin-top: 100px;
  margin-left: 65px;
}

.services_title {
  font-size: 42px;
  font-family: 'Montserrat';
  font-weight: 700;
}

.services_points {
  margin-top: 32px;
  max-width: 325px;
}

.point_wrapper {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.point {
  color: rgb(177, 174, 174);
}

.circle {
  width: 18px !important;
  height: 14px !important;
  background-color: #0e58ae;
  border-radius: 50%;
  margin-right: 12px;
}

.more_btn {
  padding: 11px 20px; /* Пример внутренних отступов */
  border: none; /* Убираем границу */
  background-color: #0e58ae; /* Пример цвета фона */
  color: white; /* Цвет текста */
  font-size: 18px; /* Размер шрифта */
  border-radius: 10px; /* Радиус скругления углов */
  cursor: pointer; /* Курсор при наведении */
  margin-left: auto; 
  margin-top: 30px;
}

.more_btn:hover {
  background-color: #0056b3; /* Изменение цвета фона при наведении */
}


.service_card {
  max-width: 245px;
  max-height: 190px;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 20px;
}


.service_types {
  margin-left: 150px;
}

.service_types._2 {
  margin-left: 27px;
  margin-top: 34px;
}

.service_icon {
  width: 42px;
  height: 42px;
  margin-bottom: 10px;
}

.first {
  background-color: #172122;
}

.second {
  background-color: #161f2b;
}

.third {
  background-color: #27271f;
}

.fourth {
  background-color: #271b1f;
}

.service_title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 18px;
}

.service_descr {
  color: rgb(177, 174, 174);
}

/*ADVANTAGES______________________*/

.advantages {
  margin-top: 140px;
}

.advantages_title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}


.advantages_points {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.advantage_point {
  max-width: 300px;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.advantage_icon {
  width: 42px;
  height: 42px;
  align-items: center;
}

.advantages_points {
  margin-top: 60px;
}

.advantage_name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  align-items: center;
  text-align: center;
}

.advantages_descr {
  font-size: 14px;
  color: rgb(177, 174, 174);
  margin-top: 16px;
  align-items: center;
  text-align: center;
}


.advantages_image {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}

.advantage_image {
  max-width: 590px;
  border-radius: 20px;
}

.welcome {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.welcome_wrapper_left {
  max-width: 470px;
  margin: auto 0;
  margin-right: 100px;
}

.welcome_title {
  font-size: 42px;
  font-weight: 600;
}

.welcome_descr {
  font-size: 19px;
  color: rgb(177, 174, 174);
  margin-top: 22px;
}

.about_us_btn {
  padding: 8px 16px; /* Пример внутренних отступов */
  border: none; /* Убираем границу */
  background-color: #0e58ae; /* Пример цвета фона */
  color: white; /* Цвет текста */
  font-size: 19px; /* Размер шрифта */
  border-radius: 10px; /* Радиус скругления углов */
  cursor: pointer; /* Курсор при наведении */
  margin-top: 39px;
}

.welcome_img {
  max-width: 450px;
  border-radius: 22px;
}

/*FORM SECTION ***********************/

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #121519;
  margin: -350px 0; /* Adjust the margin as needed */
}

.contact-form {
  background-color: #0e58ae;
  padding: 100px 150px 80px;
  border-radius: 30px;
  width: 800px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form_title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 60px;
}

.form-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input_contact_form {
  width: 340px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1em;
  margin-bottom: 20px;
}

.input_contact_form::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-group textarea {
  height: 100px;
  resize: none;
}

.submit {
  padding: 13px 28px;
  border: none;
  border-radius: 12px;
  background-color: white;
  color: #0e58ae;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #e6e6e6;
}

.label_input_form {
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.863);
}

.txtarea {
  width: 740px;
}

span.req {
  color: red;
}

/*FOOOOTER___________*/

footer.footer {
  background-color: #111c28;
  padding-top: 600px;
  padding-bottom: 50px;
}

h5.footer_title {
  font-size: 24px; /* Пример размера шрифта для логотипа */
  font-weight: bold; /* Пример насыщенности шрифта для логотипа */
  text-decoration: none;
  color: white; /* Цвет текста для логотипа */
  display: flex;
  align-items: center; /* Выравнивание логотипа по вертикали */
}

.footer_descr {
  margin-top: 15px;
  font-size: 15px;
  color: rgb(177, 174, 174);
}



.social_media_wrapper {
  display: flex;
}

.social_media_icon {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-right: 20px;
}

.rights {
  margin-top: 15px;
  font-size: 15px;
  color: rgb(177, 174, 174);
}


.options_footer {
  font-size: 19px;
  
  text-decoration: none;
}

.footer_link {text-decoration: none ;}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 250px;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 250px;
}

.optlist {
  padding-top: 9px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  
}



/**** Media Queries for Responsive Design */
@media screen and (max-width: 767px) {
  .container {
    flex-direction: row;
    align-items: center;
  }

  .logo_link {
    margin-bottom: 10px;
    margin-left: 5%;
  }

  .navigation {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }

  .menu_option {
    padding: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
  }

  .application_btn {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  .menu_toggle {
    display: block;
    margin-left: auto;
  }

  .navigation.active {
    display: flex;
  }
  
  body.menu-active {
    overflow: hidden;
  }
}




@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*Tablet*/
}

