<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="navbar">
            <div class="logo">
              <img src="logo.png" alt="Логотип">
            </div>
            <div class="menu-items">
              <div class="menu-text">
                <span>Продажа штор и тюли оптом напрямую от производителя</span>
              </div>
              <div class="contacts">
                <a href="#"><img src="/static/images/whatsapp.svg" alt="WhatsApp"></a>
                <a href="#"><img src="/static/images/vk.svg" alt="VK"></a>
                <a href="#"><img src="/static/images/instagramm.svg" alt="Instagram"></a>
                <span class="phone-number">
                  <img class="phone_img" src="/static/images/phone.png" alt="phone image">
                  <a href="tel:+71234567890">+7 (123) 456-7890</a>
                </span>
              </div>
              <button class="callback-button">Перезвоните мне</button>
            </div>
          </header>
    </div>
</body>
</html>
